@turquoise: #6bf2e7;
@beige: #f7f483;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}



.jumbotron{
	background-color: $turquoise;
	color: white;
	.margenes(50px, 0px);
}

footer{
	padding: 10px 10px 0px 10px;
	background-color: $beige;
	.margenes(10px, 0px);
	
}

.card-det{
	flex: 1 200px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%;
}
.carousel-item{
	height: 150px;
	min-height: 300px;
}
.btn-personalInfo{
	margin-top: 10px;
}