$turquoise: #6bf2e7;
$beige: #f7f483;


.jumbotron{
	background-color: $turquoise;
	color: white;
	margin-top: 50px;
}

footer{
	padding: 10px 10px 0px 10px;
	background-color: $beige;
	margin-bottom: 0px;
	margin-top: 10px;
	
}

.card-det{
	flex: 1 200px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%;
}
.carousel-item{
	height: 150px;
	min-height: 300px;
}
.btn-personalInfo{
	margin-top: 10px;
}